@model CarRental.Models.BookingViewModel

@{
    ViewBag.Title = "Booking";
    var dateNow = DateTime.Now.Year.ToString() + "-" + DateTime.Now.Month.ToString() + "-" + DateTime.Now.Day.ToString();
}

<h2>Rezerwacja pojazdu</h2>

@using (Html.BeginForm("Booking", "Rental", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Sukces!</strong> @ViewBag.Message
            </div>
        }
    }
    else
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="StartDate" value="@dateNow">
                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="EndDate" value="@dateNow">
                @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CarName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CarName, new SelectList(ViewBag.Cars), new { @class = "col-md-2 control-label" })
                @Html.ValidationMessageFor(m => m.CarName, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Zarezerwuj" />
            </div>
        </div>
        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Błąd! </strong>@ViewBag.Message
            </div>
        }
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}