@model CarRental.Models.BookingViewModel

@{
    ViewBag.Title = "Booking";
}

<h2>Twoje rezerwacje</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa samochodu")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
    </tr>

    @foreach (var item in ViewBag.Booking)
    {
<tr>
    <td class="col-md-3">
        @item.CarName
    </td>
    <td class="col-md-3">
        @item.StartDate.ToShortDateString()
    </td>
    <td class="col-md-3">
        @item.EndDate.ToShortDateString()
    </td>
    <td class="col-md-3">
        @{ 
            if (item.StartDate > DateTime.Now)
            {
                <b class="text-warning">OCZEKUJĄCE</b>
            }
            else
            {
                <b class="text-success">ZREALIZOWANE</b>
            }
        }
    </td>
</tr>}

</table>