@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj, " + @HttpContext.Current.User.Identity.Name + "!", "Settings", "Account", routeValues: null, htmlAttributes: new { title = "Zarządzaj kontem" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account")</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account")</li>
    </ul>
}